:root {
    /* could do a dark theme */
    --primary-background:#f2f2f2;
    --secondary-background: #425A7D;
    --btn-color:#E5FAFC;
    --btn-background:#A0C0D6;
    --eraser-background:#DF7356;
    --display-color:#2A3240;
    --display-background:#E5FAFC;
    
}

*, 
*::before, 
*::after {
   box-sizing: border-box; 
   padding: 0;
   margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #f2f2f2;
    color: black;
    font-family: Orbitron,sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
}

.calculator {
    display: flex;
    flex-direction: column;
    /* height: 500px; */
    /* width: 500px; */
    background-color: var(--secondary-background);
    /* margin: 100px; */
    padding-bottom: 50px;
    border: 1px solid var(--secondary-background);
    border-radius: 15px 15px 30px 30px;
}

.display {
    color: var(--display-color);
    background-color: var(--display-background);
    margin: 50px;
}

.btn {
    color: var(--btn-color);
    background-color: #a2a2a2;
    width: 70px;
    height: 50px;
    box-shadow: 0px 2px 5px #888888, 0px 0px 0px 1px #000000;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    /* border: 0.001px solid black; */
}

.btn:hover {
    background-color: aqua;
}

.btn:active {
    background-color: cadetblue;
    box-shadow: 0px 1px 3px #888888;

}

.btns {
    color: var(--btn-color);
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 30px; */
}

.btns-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 500px;
    gap: 5px 5px;
}

.btns .operation,
.btns .number,
.btns .decimal  {
    background-color: var(--btn-background);
}

.btns .eraser {
    background-color: var(--eraser-background);
}